.row{
    display: flex;
    
  }
  
  .title {
    position: absolute;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    font-family: arial rounded MT;
    font-size: 2em;
    font-weight: 700;
    color: #47f3ff;
    text-shadow: 1px 1px 1px #5ff6ff,
        1px 2px 1px #008aff,
        1px 3px 1px #008aff,
       -1px  3px 2px #008aff,
       -1px -1px 1px #0064b8,
        2px -1px 2px #0064b8,
    1px 7px 4px rgba(0,9,35,0.4),
    1px 9px 10px rgba(0,64,255,0.2),
    1px 9px 35px rgba(0,64,255,0.2),
    1px 9px 60px rgba(0,64,255,0.4);
  }
  
  .container {
    position: absolute;
    width: 100%;
    height: 100px;
  }
  .center {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  button {
    min-width: 80px;
    height: 40px;
    margin-left: 10px;
    border-radius: 4px;
    border: 1px solid plum;
    cursor: pointer;
    color: purple;
    font-weight: 600;
    margin: 10px;
  }
  